<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
    <form th:method="POST" th:action="@{/login}" th:object="${user}">
        <label for="email"></label>
        <input type="text" th:field="*{email}" id="email" placeholder="Email">
        <br/>
        <label for="password"></label>
        <input type="password" th:field="*{password}" id="password" placeholder="Пароль">
        <br/>
        <input type="hidden" name="_csrf" value="${_csrf.token}">
        <input type="submit" value="Войти">
    </form>
    Ещё нет аккаунта? <a href="/registration">Регистрация</a>
</body>
</html>